
<div class="container">
  <div class="sub">
    <p> You are viewing product <%= @product.name %> </p>

    <p> This product has been viewed <%= @product.views %> times </p>

    <p> This product has been accessed through url <%= @product.clicks %> times </p>
  </div>
</div>